/* -------------------------------------------------------------------------- */
/*                                   colors                                   */
/* -------------------------------------------------------------------------- */

$primary-color-sky: #66ccff;
$primary-color-dark-blue: #122738;
$primary-color-blue: #006a9f;
$grey-54: #545454;
$grey-aa: #aaaaaa;
$grey-c8: #aaaaaa;
$grey-ce: #cecece;
$grey-ea: #eaeaea;
$hover: #122738;
$white: #fff;
$alert-success: #20c997;
$alert-fail: #dc3545;
$alert-inprogress: #ffc107;
$shadow-0-4: 0px 0px 4px 0px #0000000d;
$shadow-4-32: 0px 4px 32px 0px #0000000d;
$shadow: 0px 1.8882px 15.1056px rgba(0, 0, 0, 0.1);
$primary-background: #fafbfb;
/* -------------------------------------------------------------------------- */
/*                                    fonts                                   */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                   global                                   */
/* -------------------------------------------------------------------------- */
